# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8

# For Slave
#
# server-id=2
# log-bin=mysql-bin
# log-slave-updates=1
# auto_increment_increment=2
# auto_increment_offset=2
# datadir=/var/lib/mysql
# read-only=1
# slave-skip-errors = 1062
# skip-host-cache
# skip-name-resolve